{% extends "base.html" %}

{% block title %}
    Posts list
{% endblock %}
{% from 'macros/show-flashed-messages.html' import show_flashed_messages_with_categories %}
{% block body %}
    <h2>Posts list</h2>
    <div class="my-3">
        <a href="{{ url_for('posts_app.add') }}" class="no-underline">Add new</a>
    </div>
    {{ show_flashed_messages_with_categories() }}
    {% if posts %}
        <h3>Posts:</h3>
        <ul class="list-group">

            {% for post in posts %}
                <li class="list-group-item p-0">

                    <a class="btn btn-link w-100 h-100  text-start text-decoration-none"
                       href="{{ url_for('posts_app.details', post_id=post.id) }}">
                        #{{ post.id }} {{ post.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <h3>No products yet</h3>

    {% endif %}

{% endblock %}